<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair Profile for <%= user.userName %></h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to Pair
        </p>
        <p> Last updated on <%= user.lastUpdate %> </p>
        <hr>

        <form method="post" action="/updateProfile">
            Age: <input type="number" name="Age" value="<%= user.Age %>"><br><br>
            Profile Pic URL: <input type="text" name="profilePicURL"
                              value="<%= user.profilePicURL %>"><br><br>
            Address: <input type="text" name="Address"
                         value="<%= user.Address %>"><br><br>
            Bio: <input type="text" name="Bio"
                         value="<%= user.Bio %>"><br><br>
            <input type="submit" class="btn btn-lg btn-primary">
        </form>


    </div>

<%- include('bootfooter') -%>
