<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair Profile for <%= user.userName %></h1>
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to Pair
        </p>
        <p> Last updated on <%= user.lastUpdate %> </p>

    <!-- edit out for now <a class="btn btn-primary" href="/choose" role="button">Choose Interest</a><hr>-->

        <form method="post" action="/updateProfile">



            <table class="table ">
              <thead>
                <tr>
                  <th>  <div class="checkbox">
                      <label><input type="checkbox" name="politics" <% if(user.politics){ %> checked <%  } %>  >Politics</label>
                        <label for="checkbox"><img class="interest-image" src = "images/politics.jpg"width="500"/></label>
                    </div>
                  </th>
                    <th>
                      <div class="checkbox">
                      <label><input type="checkbox" name="movies" <% if(user.movies){ %> checked <%  } %>>Movies</label>
                        <label for="movies"><img class="interest-image" src = "images/movies.jpg" width="500" /></label>
                    </div></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="checkbox">
                    <label><input type="checkbox" name="food"<% if(user.food){ %> checked <%  } %>><strong>Foods</strong></label><br>
                    <label for="food">
                      <img class="interest-image" src =  "images/food.jpg"width="500"/></label>
                  </div>
                </td><th>
                    <div class="checkbox">
                    <label><input type="checkbox" name="sports" <% if(user.sports){ %> checked <%  } %>>Sports</label>
                      <label for="sports"><br>
                        <img class="interest-image" src = "images/sports.jpg"width="500" /></label>
                  </div>
                </th><
                </tr>
                <tr>
                  <th>
                    <div class="checkbox" >
                    <label><input type="checkbox" name="diy" <% if(user.diy){ %> checked <%  } %>>DIY</label>
                      <label for="diy"><br>
                        <img class="interest-image" src = "images/diy.jpg"width="530"/></label>
                  </div>
                </th>


                  <th>
                    <div class="checkbox">
                      <label><input type="checkbox" name="travel" <% if(user.travel){ %> checked <%  } %>>Travel</label>
                        <label for="travel"><br>
                          <img class="interest-image" src = "images/travel.jpg"width="500"/></label>
                    </div>

                </th>





              </tbody>
            </table>
            <input type="submit" class="btn btn-lg btn-primary"> <br>


            Age: <input type="number" name="age" value="<%= user.age %>"><br><br>
            Profile Pic URL: <input type="text" name="profilePicURL"
                              value="<%= user.profilePicURL %>"><br><br>
            Address: <input type="text" name="address"
                         value="<%= user.address %>"><br><br>
            Bio: <input type="text" name="bio"
                         value="<%= user.bio %>"><br><br>
            <input type="submit" class="btn btn-primary">
        </form>
<p>
    </div>

<%- include('bootfooter') -%>
<%- include('footer') -%>
