<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Pair Profile for <label class="text-primary"><%= user.googlename %></label></h1>

        <% if( user.lastUpdate != null){ %>
          <p> Last updated on <%= user.lastUpdate %> </p>
        <% } %>

        <% if( user.profilePicURL == "" || user.profilePicURL == null){ %>
          <img id="profile-pic" class="about-me-pic" width="200px" height="200px" src="images/defaultPic.jpg" width="400">
        <% }
          else{ %>
          <img id="profile-pic" class="about-me-pic" width="200px" height="200px" src="<%= user.profilePicURL %>" width="400">
        <% } %>




    <!-- edit out for now <a class="btn btn-primary" href="/choose" role="button">Choose Interest</a><hr>-->

        <form method="post" action="/updateProfile" style="min-height:100%; position:relative;">

          <div class="form-group">

               <label for="exampleFormControlFile1">Upload Profile Picture</label>
               <input type="file" class="form-control-file" id="urlSelector" value="<%= user.profilePic%>"><br>




            <label for="urlSelector">Edit Your Profile Picture</label>
            <input placeholder="Enter URL" id="urlSelector" class="form-control" type="text" name="profilePicURL" value="<%= user.profilePicURL %>" aria-describedby="urlHelp">
            <small id="urlHelp" class="form-text text-muted">Right click on the picture and "Copy Image URL".</small>
          </div>

              <div class="row">




                <div class="col">
                  <div class="checkbox">
                     <label><input type="checkbox" name="politics" <% if(user.politics){ %> checked <%  } %> >Politics</label>
                        <label for="checkbox"><img class="interest-image" src = "images/politics.jpg"width="300" height="150"></label>

                    </div>
                </div>





                <div class="col">
                      <div class="checkbox">
                      <label><input type="checkbox" name="movies" <% if(user.movies){ %> checked <%  } %>>Movies</label>
                        <label for="movies"><img class="interest-image" src = "images/movies.jpg" width="300" height="150"></label>
                    </div>
                </div>
                <div class="col">
                    <div class="checkbox">
                    <label><input type="checkbox" name="food"<% if(user.food){ %> checked <%  } %>>Foods</label>
                    <label for="food">
                      <img class="interest-image" src =  "images/food.jpg"width="300" height="150"></label>
                  </div>
                </div>
                <div class="col">
                    <div class="checkbox">
                    <label><input type="checkbox" name="sports" <% if(user.sports){ %> checked <%  } %>>Sports</label>
                      <label for="sports">
                        <img class="interest-image" src = "images/sports.jpg"width="300" height="150"></label>
                  </div>
                 <a class="btn btn-primary" href="/choose" role="button">Sports</a>
                </div>
                <div class="col">
                    <div class="checkbox" >
                    <label><input type="checkbox" name="diy" <% if(user.diy){ %> checked <%  } %>>DIY</label>
                      <label for="diy">
                        <img class="interest-image" src = "images/diy.jpg"width="300" height="150"></label>
                  </div>
                  </div>
                  <div class="col">
                    <div class="checkbox">
                      <label><input type="checkbox" name="travel" <% if(user.travel){ %> checked <%  } %>>Travel</label>
                        <label for="travel">
                          <img class="interest-image" src = "images/travel.jpg"width="300" height="150"></label>
                    </div>
                  </div>
              </div>


            <br><br>


            <div class="form-group">
              <label for="ageSelector">Select Your Age</label>
              <input type="number" class="form-control" id="ageSelector" placeholder="Enter Age" name="age" aria-describedby="ageHelp" value="<%= user.age %>">
              <small id="ageHelp" class="form-text text-muted">You must be 16 to sign up.</small>
            </div>



            <div class="form-group">
              <label for="addressSelector">Enter Your Address</label>
              <input type="text" name="address" value="<%= user.address %>" placeholder="House Number - Street Name, City State, ZipCode" id="addressSelector" class="form-control" aria-describedby="streetHelp">
              <small id="streetHelp" class="form-text text-muted">This will not be shared with other users.</small>
            </div>

            <div class="form-group">
              <label for="addressSelector">Bio</label>
              <input type="text" name="bio"value="<%= user.bio %>" placeholder="A Short Bio About You" id="bioSelector" class="form-control">
            </div>

            <br>

            <button type="submit" class="btn btn-primary btn-block">Update Profile</button>

        </form>
<p>
    </div>

<%- include('bootfooter') -%>
<%- include('footer') -%>
