<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Chat</h1>
        <p>Chat with YOUR pair now!</p>
    </div>

  <!--  <form method="post" action="/forum">
      New Post: <br>
      <textarea id="post" name="post"></textarea>
      <br>
      <input type="submit" class="btn btn-lg btn-primary">
    </form>
    <hr>
   <form method="post" action="/forumDelete">
        <input type="submit" value="delete marked">-->
        <ol>

          <% console.log(user.theyRequestedIDs.length)
          if(user.theyRequestedIDs.length > 0) { %>
              <h2>Your Requests</h2>
          <% } %>



        <%  for(var i = 0; i < users.length; i++){  %>
            <li>

               <label><%= users[i].googlename %> has requested to chat. </label>
               <a href="/acceptChat/<%= users[i]._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Accept</a>
               <a href="/declineChat/<%= users[i]._id %>" class="btn btn-danger accept-or-deny" type="button" name="button">Decline</a>
               <br><br>
             </li>
        <% } %>
        </ol>



<%- include('bootfooter') -%>
<%- include('footer') -%>
