<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Chat with YOUR pairs now!</h1>

  <!--  <form method="post" action="/forum">
      New Post: <br>
      <textarea id="post" name="post"></textarea>
      <br>
      <input type="submit" class="btn btn-lg btn-primary">
    </form>
    <hr>
   <form method="post" action="/forumDelete">
        <input type="submit" value="delete marked">-->

        <table class="table table-bordered table-striped table-sm">
            <thead class="thead-dark">
              <% console.log(user.theyRequestedIDs.length)
              if(user.theyRequestedIDs.length > 0) { %>
                <h4>Requested You</h4>

              <tr>
                <th class="text-light" scope="col">#</th>
                <th class="text-light" scope="col">Profile Pic</th>
                <th class="text-light"scope="col">Request</th>
                <th class="text-light"scope="col">Want to Chat?</th>
              </tr>
            </thead>
            <% } %>

              <tbody>
        <%  for(var i = 0; i < users1.length; i++){  %>
              <tr>
                <td> <%= i + 1  %> </td>
                <td> <img width="75px" height="75px" src="<%= user.profilePicURL %>"> </td>
                <td> <label><%= users1[i].googlename %> has requested to chat. </label> </td>
                <td>
                  <a href="/acceptChat/<%= users1[i]._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Accept</a>
                  <a href="/declineChat/<%= users1[i]._id %>" class="btn btn-danger accept-or-deny" type="button" name="button">Decline</a>
                </td>
                <br><br>
              </tr>
              </tbody>
          </table>
        <% } %>


        <table class="table table-bordered table-striped table-sm">
          <thead class="thead-dark">
            <%if(users2.length > 0) { %>
              <h4>Your Requests</h4>

            <tr>
              <th class="text-light" scope="col">#</th>
              <th class="text-light" scope="col">Profile Pic</th>
              <th class="text-light"scope="col">Request</th>
              <th class="text-light"scope="col">Want to Chat?</th>
            </tr>

          </thead>
          <% } %>
          <tbody>

            <%  for(var i = 0; i < users2.length; i++){  %>
              <tr>
                <td> <%= i + 1  %> </td>
                <td> <img width="75px" height="75px" src="<%= user.profilePicURL %>"> </td>
                <td> <label>You requested to chat with <%= users2[i].googlename %></label> </td>
                <td> <a href="/acceptChat/<%= users2[i]._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Chat</a> </td>
                <br><br>
              </tr>
          </tbody>
        </table>
        <% } %>

        <table class="table table-bordered table-striped table-sm">
          <thead class="thead-dark">
            <h4>Your Chats</h4>
              <tr>
                <th class="text-light" scope="col">#</th>
                <th class="text-light" scope="col">Profile Pic</th>
                <th class="text-light"scope="col">Request</th>
                <th class="text-light"scope="col">Want to Chat?</th>
              </tr>

          </thead>
            <tbody>
              <%  for(var i = 0; i < users3.length; i++){  %>
                <tr>
                  <td> <%= i + 1  %> </td>
                  <td> <img width="75px" height="75px" src="<%= user.profilePicURL %>"> </td>
                  <td> <label> Chat with <%= users3[i].googlename %> </label> </td>
                  <td> <a href="/showChat/<%= user._id %>/<%= users3[i]._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Chat</a> </td>
                </tr> <br><br>
                <% } %>

                <%  for(var i = 0; i < users4.length; i++){  %>
                <tr>
                  <td> <label>Chat with <%= users4[i].googlename %></label> </td>
                  <td><a href="/showChat/<%= users4[i]._id %>/<%= user._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Chat</a> </td>
                  <br><br>
                </tr>
                  <% } %>


            </tbody>
          </table>



<%- include('bootfooter') -%>
<%- include('footer') -%>
