<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <img src="<%= user.profilePicURL%>" width="200">
        <hr>
        <p> Welcome <%= user.googlename %>
            with email <%= user.googleemail %>
            You are logged in to Pair.
        </p>
        <p> <%= user.age %> <%= user.address %> <%= user.bio %>
        <p> Last updated on <%= user.lastUpdate %> </p>
<a href="/editProfile">edit profile</a>
    </div>

<%- include('bootfooter') -%>
