<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">

      <div class="row">
        <div class="col-lg-3">

          <% if( user.profilePicURL == ""){ %>
            <img id="profile-pic" class="about-me-pic" width="200px" height="200px" src="images/defaultPic.jpg" width="400">
          <% }
            else{ %>
            <img id="profile-pic" class="about-me-pic" width="200px" height="200px" src="<%= user.profilePicURL %>" width="400">
          <% } %>



        <!--
        <p> Welcome <%=// user.googlename %><br>
        You are logged in to Pair. <br>
        Email: <%=// user.googleemail %>
        </p>
        -->
        </div>
        <div class="col-lg-9">
        <table class="table table-striped table-bordered  bordercolor="color">
          <thead class="bg-dark">



              <th colspan="2" id="label" class="text-light"><%= user.googlename %> (<%= user.googleemail %>)</th>


          </thead>
          <tbody>

            <tr>
              <td width=" 50%">Age</td>
              <td><%= user.age %></td>
            </tr>

            <tr>
              <td>Address</td>
              <td><%= user.address %></td>
            </tr>

            <tr>
              <td>Bio</td>
              <td><%= user.bio %></td>
            </tr>

            <tr>
              <td>Interests</td>
              <td>
                <% if(user.politics){ %> Politics, <% } %>
                <% if(user.food){ %> Food, <% } %>
                <% if(user.movies){ %> Movies, <% } %>
                <% if(user.sports){ %> Sports, <% } %>
                <% if(user.travel){ %> Travel, <% } %>
                <% if(user.diy){ %> DIY, <% } %> %>
              </td>
            </tr>

          </tbody>
        </table>
        </div>
        </div>

        <hr>
         <p> Last updated on <%= user.lastUpdate %> </p>

<br>
  <a class="btn btn-primary btn-block" href="/editProfile" role="button">Edit Profile</a>

    </div>

<%- include('bootfooter') -%>
