<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <img src="<%= user.profilePicURL%>" width="400">
        <br>
        <p> Welcome <%= user.googlename %><br>
        You are logged in to Pair. <br>
        Email: <%= user.googleemail %>

        </p>
         <p> Last updated on <%= user.lastUpdate %> </p>
        <hr>
        <p> Age:<%= user.age %> </p> <br>
        <p> Address:<%= user.address %> </p> <br>
        <p> Bio: <%= user.bio %> </p> <br>

        <p> Interests: <% if(user.politics){ %> Politics, <% } %>
                       <% if(user.food){ %> Food, <% } %>
                       <% if(user.movies){ %> Movies, <% } %>
                       <% if(user.sports){ %> Sports, <% } %>
                       <% if(user.travel){ %> Travel, <% } %>
                       <% if(user.diy){ %> DIY, <% } %> </p>
<br>
  <a class="btn btn-primary" href="/editProfile" role="button">Edit Profile</a>
    
    </div>

<%- include('bootfooter') -%>
