<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <img src="<%= user.profilePicURL%>" width="400">
        <br>
        <p> Welcome <%= user.googlename %><br>
        You are logged in to Pair.
       Email: <%= user.googleemail %>
        </p>
        <br>
        <p> Age:<%= user.age %> </p> <br>
        <p> Address:<%= user.address %> </p> <br>
        <p> Bio: <%= user.bio %> </p> <br>
        <p> Last updated on <%= user.lastUpdate %> </p> <br>
        <a href="/editProfile"> Edit Profile </a>


    </div>

<%- include('bootfooter') -%>
