<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">

        <h1>Your Pairs!</h1>

        <form method="post" action="/yourpairs">

          <input type="text" name="limit" value="5">

          <input type="submit">

        </form>

        <table class="table table-striped">
          <thead class="bg-dark">
            <tr>
              <th class="text-light" scope="col">#</th>
              <th class="text-light" scope="col">Profile Pic</th>
              <th class="text-light"scope="col">Username</th>
              <th class="text-light"scope="col">Shared Interests</th>
              <th class="text-light"scope="col">Want to Chat?</th>
            </tr>
          </thead>

          <!-- FUNCTION that returns an array of the top 5 user ids -->

          <!--   array topFive = [14, 4, 5, 2, 1]     -->

          <tbody>

            <!-- loops through an array "topFive" of the top five best matches -->
            <%  for(var i = 0; i < topFive.length; i++) {  %>
              <tr>
                <td><%= i + 1  %></td>
                <td>
                  <img src="<%= users.profilePicURL %>">
                </td>
                <td><%= users[topFive[i]].googlename %></td>
                <td>
                  <!-- Confirm of deny button -->
                  <% if(users[topFive[i]].politics && user.politics ){ %> Politics <% } %>
                  <% if(users[topFive[i]].food && user.food){ %> Food <% } %>
                  <% if(users[topFive[i]].movies && user.movies){ %> Movies <% } %>
                  <% if(users[topFive[i]].sports && user.sports){ %> Sports <% } %>
                  <% if(users[topFive[i]].travel && user.travel){ %> Travel <% } %>
                  <% if(users[topFive[i]].diy && user.diy){ %> DIY <% } %>
                </td>
                <td>

                  <!-- Confirm of deny button -->
                  <a  href="/showChat/<%= user._id%>/<%= users[topFive[i]]._id %>" class="btn btn-success accept-or-deny" type="button" name="button">Chat Now</a>
                  <button class="btn btn-danger accept-or-deny" type="button" name="button">Decline</button>
                  <a  href="/showChat/<%= users[topFive[i]]._id %>/<%= user._id%>" class="btn btn-success accept-or-deny" type="button" name="button">Join Chat</a>
                </td>
              </tr>

            <% } %>

          </tbody>
        </table>

    </div>

<%- include('bootfooter') -%>
<%- include('footer') -%>
